<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://www.4d.com/namespace/reserved/FP/Constants">
   <appid>&quot;0&quot;</appid>
   <fourdversmin>&quot;9.0.0&quot;</fourdversmin>
   <fourdversmax>&quot;9.0.0&quot;</fourdversmax>
   <command name="iCal Set event property" str="20000" topic="2">
      <param position="2" k="20000"/>
   </command>
   <command name="iCal Get event property" str="20000" topic="3">
      <param position="2" k="20000"/>
   </command>
   <command name="iCal Set task property" str="20000" topic="6">
      <param position="2" k="20002"/>
   </command>
   <command name="iCal Get task property" str="20000" topic="7">
      <param position="2" k="20002"/>
   </command>
   <command name="iCal Set calendar property" str="20000" topic="10">
      <param position="2" k="20001"/>
   </command>
   <command name="iCal Get calendar property" str="20000" topic="11">
      <param position="2" k="20001"/>
   </command>
   <command name="iCal QUERY TASK" str="20000" topic="15">
      <param position="4" k="20009"/>
   </command>
   <command name="iCal Set event recurrence" str="20000" topic="22">
      <param position="2" k="20004"/>
   </command>
   <command name="iCal SET VIEW" str="20000" topic="32">
      <param position="1" k="20005"/>
   </command>
   <command name="iCal app Get task property" str="20000" topic="34">
      <param position="2" k="20007"/>
   </command>
   <command name="iCal app Get event property" str="20000" topic="35">
      <param position="2" k="20006"/>
   </command>
   <command name="iCal Get event alarm" str="20000" topic="38">
      <param position="2" k="20003"/>
   </command>
   <command name="iCal Set event alarm" str="20000" topic="41">
      <param position="2" k="20003"/>
   </command>
</application>
